* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}

:root {
    --fundo: #B22222;
}

/*   REPONSIVIDADE  *
 *                  *
 * P  0px - 766px   *
 * M 767px - 1022px *
 * G 1023px -  +++  *
 *                  *
 ********************/

  /* Estilos para dispositivos movéis */

body {
    background-color: var(--fundo);
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
h2 {
    font-size: 24px;
    margin: 10px 0;
}
h4 {
    margin: 20px 0;
    font-size: 20px;
}
span {
    font-size: 16px;
    text-align: justify;
}

summary {
    font-size: 22px;
    margin: 20px 0;
    padding: 15px 0;
    display: block;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 40px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
summary:hover {
    font-size: 22px;
    color: #4e4e4e;
}
summary::marker ~ p {
    transition: all .5s;
}
.conteudo {
    margin: 30px;
}

  /* Estilos para tablet */

@media only screen and (min-width: 767px) {
}

/*   Estilo para notebooks, desktops   */

@media only screen and (min-width: 1023px) {
    h2 {
        font-size: 30px;
    }
    h4 {
        font-size: 26px;
    }
    summary, details, span {
        transition: all .5s;
    }
    details {
        display: block;
        margin: 1.3em 0;
    }
    details[open]:nth-child(odd) {
        text-align: left;
        transition: all .5s;
    }
    details[open]:nth-child(odd) summary {
        padding-left: 60px;
    }
    details[open]:nth-child(even) {
        text-align: right;
        transition: all .5s;
    }
    details[open]:nth-child(even) summary {
        padding-right: 60px;
    }
    details[open]:nth-child(even) span {
        position: absolute;
        left: 230px;
        width: 70%;
    }
    span{
        position: absolute;
        float: left;
        font-size: 18px;
        width: 70%;
        margin: 1.3em;
    }
    summary {
        display: initial;
        font-size: 50px;
        margin-top: 50px;
        padding-top: 60px;
        height: 200px;
        width: 200px;
    }
    summary:hover {
        font-size: 65px;
    }
}
